{% extends 'pages/base.html' %}
{% block content %}
<div class="row">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Happenings</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						{% if dj.has_image %}
						<img src="{{ MEDIA_URL}}{{dj.pic.url}}">
						{% endif %}
						<div class="caption">
							<h4>{{dj.dj}}</h4>
							<p>{{dj.role}}</p>
						</div>
					</div>
				</div>
				<p>{{dj.bio}}</p>
				<hr>
			</div>
		</div>
	</div>
</div>
{% endblock %}