{% extends 'pages/base.html' %}
{% block content %}
<div class="row">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Happenings</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<img alt="Hinds - Leave Me Alone" src=
						"http://cdn4.pitchfork.com/albums/22646/21b15074.jpg">
						<div class="caption">
							<h4>Now Playing</h4>
							<p>Garden - Hinds - <u><i>Leave Me Alone</i></u></p>
						</div>
					</div>
				</div>
				<p>The KVRX Spring 2016 Schedule is up at <a href=
				"http://www.kvrx.org/schedule">http://www.kvrx.org/schedule</a>! Feel
				free to phone in at requests at (512)-495-5879.</p>
				<p><a href="#">See all updates...</a></p>
				<hr>
			</div>
		</div>
	</div>
</div>
{% endblock %}